<div class="flex h-screen items-center justify-center bg-base-200">
  <div class="absolute top-4 left-4">
    <app-theme-switch-component></app-theme-switch-component>
  </div>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="card w-full max-w-sm bg-base-100 shadow-xl"
  >
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold mb-4 text-base-content">Register</h2>

      @if (errorMessage) {
      <div class="alert alert-error mb-4">
        <span>{{ errorMessage }}</span>
      </div>
      }

      <div class="form-control mb-2">
        <label class="label" for="username">
          <span class="label-text font-bold">Username</span>
        </label>
        <input
          formControlName="username"
          id="username"
          type="text"
          placeholder="Enter your username"
          class="input input-bordered w-full"
        />
        @if (registerForm.controls.username.invalid && registerForm.controls.username.touched) {
        <label class="label">
          <span class="label-text-alt text-error italic"
            >Username is required (min. 3 characters).</span
          >
        </label>
        }
      </div>

      <div class="form-control mb-2">
        <label class="label" for="first_name">
          <span class="label-text font-bold">First Name</span>
        </label>
        <input
          formControlName="first_name"
          id="first_name"
          type="text"
          placeholder="Enter your first name"
          class="input input-bordered w-full"
        />
        @if (registerForm.controls.first_name.invalid && registerForm.controls.first_name.touched) {
        <label class="label">
          <span class="label-text-alt text-error italic">First name is required.</span>
        </label>
        }
      </div>

      <div class="form-control mb-2">
        <label class="label" for="last_name">
          <span class="label-text font-bold">Last Name</span>
        </label>
        <input
          formControlName="last_name"
          id="last_name"
          type="text"
          placeholder="Enter your last name"
          class="input input-bordered w-full"
        />
        @if (registerForm.controls.last_name.invalid && registerForm.controls.last_name.touched) {
        <label class="label">
          <span class="label-text-alt text-error italic">Last name is required.</span>
        </label>
        }
      </div>

      <div class="form-control mb-6">
        <label class="label" for="password">
          <span class="label-text font-bold">Password</span>
        </label>
        <input
          formControlName="password"
          id="password"
          type="password"
          placeholder="Enter your password"
          class="input input-bordered w-full"
        />
        @if (registerForm.controls.password.invalid && registerForm.controls.password.touched) {
        <label class="label">
          <span class="label-text-alt text-error italic"
            >Password is required (min. 6 characters).</span
          >
        </label>
        }
      </div>

      <button type="submit" class="btn btn-primary w-full">Register</button>

      <div class="divider"></div>

      <div class="text-center">
        <p class="text-sm text-base-content">
          Already have an account?
          <a [routerLink]="['/login']" class="link link-primary font-bold">Login here</a>.
        </p>
      </div>
    </div>
  </form>

</div>
