<header class="p-4 flex items-center justify-between sticky top-0 bg-base-100 z-50 shadow-sm gap-4">
    <div class="flex-1 flex justify-start items-center gap-2">
        <div class="flex">
            <app-theme-switch-component></app-theme-switch-component>
        </div>

    </div>

    <p class="text-lg md:text-xl font-bold text-center truncate">Familien Dashboard</p>

    <div class="flex-1 flex justify-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="avatar">
                <div class="rounded-full w-10">
                    <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" alt="Profilbild" />
                </div>
            </div>

            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mt-4 z-100">
                <li><button type="button" (click)="goToProfile()">Profil</button></li>
                <li><button type="button">Einstellungen</button></li>
                <li><button type="button" (click)="logout()">Abmelden</button></li>
            </ul>
        </div>
    </div>
</header>